extends layout

block content
	section#contenido
		h1= title
		section#ini
			a(href="/tetris")#button INICIAR 
	div#linkgit 
		a(href='http://twitter.com/kevfbs', target='_blank') @kevfbs
		span  &amp; 
		a(href='http://twitter.com/ebernabe', target='_blank') @ebernabe
		span  /  
		a(href='https://github.com/ebernabe/tetris/', target='_blank') Github
		span  / 
		a(href='http://cr.linkedin.com/in/ernestobs/', target='_blank') Linkedin