extends layout
block content
	script(src='/socket.io/socket.io.js')
	script
		//#1 Declaramos el objeto socket que se conectará en este caso a localhost
		var socket = io.connect('http://192.168.0.100:3000/');
		//#3 Si estamos conectados, muestra el log y cambia el mensaje
		socket.on('connected', function () {
			console.log('Conectado!');
			});
		//#4 Si nos desconectamos, muestra el log y cambia el mensaje.
		socket.on('disconnect', function () {
			console.log('Desconectado!');
		});

	section#sectetris
		div.cuadrotetris
			table.tetris
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
			div#scoresanuncio
		div.siguientescore
			h2 Siguiente Figura
			table.tetrisnext
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
			div#score
				div#filas Filas: 0
				div#fichas Figuras: 0
				div#velocidad Nivel: 0
		a(href='javascript:;')#start Start
		a(href='javascript:;')#stop Stop
					