extends layout

block content
	section#sectetris
		div.cuadrotetris
			table.tetris
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
			div#scoresanuncio
		div.siguientescore
			h2 Siguiente Figura
			table.tetrisnext
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
			div#score
				div#filas Filas: 0
				div#fichas Figuras: 0
				div#velocidad Nivel: 0
		a(href='javascript:;')#start Start
		a(href='javascript:;')#stop Stop
					