extends layout
block content
	section#user 
		form(action='javascript:;',method='post')
			input(type='text', placeholder='Escriba el usuario')#jugador
			a(href='javascript:;')#start Start
			a(href='javascript:;')#stop Stop
	section#sectetris
		div.cuadrotetris
			table.tetris
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
			div#scoresanuncio
		div.siguientescore
			h2 Siguiente Figura
			table.tetrisnext
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
				tr
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
					td
			div#score
				div#filas Filas: 0
				div#fichas Figuras: 0
				div#velocidad Nivel: 0
				div#tabla_otrojugador
					span OPONENTE
					table.tetris_otro
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
							tr
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
								td
			div#score_otros
				div#filas_otros Filas: 0
				div#fichas_otros Figuras: 0
				div#velocidad_otros Nivel: 0